<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connect to Netopeer2 Server</title>
</head>
<body>
    <h1>Connect to Netopeer2 Server</h1>

    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}

    <form method="post">
        {% csrf_token %}
        <label for="id_host">Host Name:</label>
        <input type="text" id="id_host" name="host" value="{{ form.host.value }}">
        <br><br>
        <label for="id_port">Port:</label>
        <input type="text" id="id_port" name="port" value="{{ form.port.value }}">
        <br><br>
        <label for="id_username">Username:</label>
        <input type="text" id="id_username" name="username" value="{{ form.username.value }}">
        <br><br>
        <label for="id_password">Password:</label>
        <input type="password" id="id_password" name="password">
        <br><br>
        <input type="submit" value="Connect">
    </form>
</body>
</html>
