<!-- create_xml.html -->
{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    {% if error_message %}
    <div class="alert alert-danger" role="alert">
        {{ error_message }}
    </div>
    {% endif %}
    <div style="display: flex;flex-direction: column;">
            <form method="post" style="margin: 0;">
                {% csrf_token %}
                <div class="mb-3">
                    {{ children|crispy }}
                    <input type="hidden" name="current" value="{{current}}" />
                    <input type="hidden" name="action" id="action-input" value="select" />
                </div>
                <div class="form-buttons">
                    <button type="submit" class="btn btn-primary mb-3" onclick="document.getElementById('action-input').value='select'">Select</button>
                    <button type="submit" class="btn btn-primary mb-3" onclick="document.getElementById('action-input').value='add'">Add</button>
                    <button type="submit" class="btn btn-primary mb-3" onclick="document.getElementById('action-input').value='reset'">Reset</button>
                    <button type="submit" class="btn btn-primary mb-3" onclick="document.getElementById('action-input').value='clear'">Clear Added</button>
                </div>
            </form>


            <div class="mb-3">
                <label class="form-label">Selected Leaves:</label>
                <!-- Scrollable list of server capabilities -->
                <div class="list-group" style="max-height: 200px; overflow-y: auto;">
                    {% for field in leafform %}
                        <p>{{ field }}</p>
                    {% endfor %}
                </div>
            </div>
        <form method="post">
            {% csrf_token %}
            <input type="hidden" name="action" value="create" />
            <input type="radio" id="edit" name="option" value="edit">
            <label for="edit">Edit</label>
            <input type="radio" id="get" name="option" value="get" checked>
            <label for="get">Get </label>
            <input type="text" name="filename" required placeholder="filter name"/>
            <button type="submit" class="btn btn-primary">Create Filter</button>
        </form>
        </div>

        <!-- Button to go back to Select Configuration Page -->
        <a style="position: fixed; bottom: 3rem; right: 5rem;" href="{% url 'select_config' %}" class="btn btn-secondary">Back to Select Configuration</a>
    </div>
{% endblock %}
